section {
	&#About {
		header {
			padding: rem(20px) 0;
			@include mq('md') {
				padding: rem(42px) 0;
			}
		}
	}
}

.about {
	text-align: center;
	display: block;
	@include mq('md') {
		display: flex;
		flex-wrap: wrap;
	}
	&--item {
		display: block;
		text-align: center;
		padding: rem(15px) rem(22px);
		@include mq('md') {
			width: 33.3%;
			padding: rem(15px) rem(32px);
		}
		img {
			display: inline-block;
			text-align: center;
			margin: rem(15px) auto;
		}		
	}
}