section {
	&#Directives {
		header {
			padding: rem(20px) 0 0;
			@include mq('md') {
				padding: rem(32px) 0 0;
			}
		}
	}
}

.directives {
	text-align: center;
	display: block;
	@include mq('md') {
		margin-top: rem(40px);
		display: flex;
		flex-wrap: wrap;
	}

	&--text {
		display: block;
		text-align: center;
		@include mq('md') {
			text-align: left;
			width: 65%;
			padding: rem(15px) rem(22px);
		}

		h2 {
			text-transform: uppercase;
		}
	}

	&--imagen {
		display: block;
		text-align: center;
		@include mq('md') {
			width: 35%;
			padding: rem(15px) rem(22px);
		}
		img {
			display: inline-block;
			max-width: 100%;
		}
	}
}