section {
	header {
		h2 {
			margin-top: 0;
			text-align: center;
			text-transform: uppercase;
			text-align: center;
			@include font(26px);
			@include mq('md') {
				@include font(36px);
			}
		}
	}
}