#homeNumbers {
	@include bgcover;
	background-image: url('../images/bgs/bg-numbers.jpg');
	padding: rem(25px);
	min-height: rem(540px);
	@include mq('md') {
		padding: rem(38px);
	}
	header {
		text-align: center;
		font-family: $bd;
		color: $white;
		h2 {
			text-transform: uppercase;
			margin-top: 0;
			@include font(26px);
			@include mq('md') {
				@include font(42px);
			}
		}
		h3 {
			@include font(20px);
			@include mq('md') {
				@include font(25px);
			}
		}
	}
}

.numbers {
	padding: rem(20px);
	text-align: center;
	&--item {
		display: block;
		margin: rem(20px) auto;
		@include mq('md') {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin: rem(20px) rem(10px);
		}

		img {
			max-width: 100%;
			display: inline-block;
		}
	}

	&--caption {
		text-align: center;
		h4 {
			color: $marine;
			font-family: $bd;
			@include font(28px);
			@include mq('md') {
				@include font(38px);
			}
		}
		p {
			text-align: center !important;
			text-transform: uppercase;
			color: $white;
			@include font(15px);
			@include mq('md') {
				@include font(18px);
			}
		}
	}
}