section {
	&#cifras-animadas {
		background-image: url('../images/bgs/bg-waves.jpg');
		@include mq('md') {
			padding: 0 rem(38px) rem(38px);
		}
    .cifras {
      &-texto {
        color: $white;
        text-align: center;
        @include mq('md') {
          text-align: left;
        }
        &--item {
          h1 {
            @include font(50px);
            color: $morado;
            padding: 0 0;
            @include mq('md') {
              @include font(150px);
              margin-top: rem(-110px);
            }
          }

          h3 {
            margin-top: 0;
            @include font(40px);
          }

          p {
            @include font(20px);
          }
        }
      }
    }
  }
}
