section {
	&#brochure {
		@include bgcover;
		background-position: top center;
	}
}

.brochure {
	padding: rem(20px) rem(20px) rem(80px);
	header {
		h2 {
			text-align: left;
			color: $white;
		}
	}

	&--text {
		padding-top: rem(60px);
		a {
			@include marineBtn(14px);
		}
	}
}