section {
	&#destacado {
		@include wrapper;
		min-height: rem(540px);
		@include mq('md') {
			padding: rem(38px);
		}
		width: 100%;
    .destacado-texto{

h1 {
	font-size:rem(40px);
	color: $naranja;
	padding: rem(35px);
	@include mq('md') {
		font-size:rem(90px);
	}

}
p{

}
    }
    .destacado-item{

    }
    .item{
      background-color: $naranja;
		padding: rem(35px);
		margin: rem(20px) auto;
    }
		.item p{
			color: $white;
			font-size:rem(30px);
		}
  }
}
