section {
	&#porcentajes {
		min-height: rem(440px);
		@include mq('md') {
			padding: rem(38px) rem(38px) 0;
      background-color: #3395f8;
		}
    .porcentaje-content{
    	padding: rem(35px);
      text-align: center;
      @include mq('md') {
        display: flex;
        flex-wrap: wrap;
      }
      &--item {
        color: $white;
        display: block;
        padding: rem(10px);
        text-align: center;
        @include mq('md') {
          padding: rem(10px) rem(20px);
          text-align: left;
          width: 33.3%;
        }

        h2 {
          display: inline-block;
          font-size: rem(40px);
          color: $white;
          border-bottom: rem(5px) solid $white;
          @include mq('md') {
            font-size: rem(100px);
          }
        }

        p {
          display: block;
        }
      }
    }
  }
}
