section {
	&#patrocinadores {
    background-color: $l-purple;
		header {
      color: $white;
			}
		}
	}
  .patrocinadores{
		position: relative;
    justify-items: center;

    &__wrapper{
      display: flex;
      flex-wrap: wrap;

    }
    &-item{

      display: block;
      width: 19.9%;

    }
    img {
			max-width: 90%;
      border-radius: 50%;
      display: inline-block;
      padding: rem(10px);
      @include mq('md') {
			  padding: rem(10px) 0;
      }
    }

  }
