section {
	&#MainPost {
		background-color: $gray-f6;
	}
}

.pod-news {
	padding: rem(20px) 0;
	
	&--wrapper {
		@include mq('md') {
			display: flex;
			flex-wrap: wrap;
		}	
	}

	&--item {
		display: block;
		text-align: center;
		padding: rem(10px);
		position: relative;
		@include mq('md') {
			width: 25%;
		}
		&:first-child,
		&:nth-child(6n),
		&:nth-child(7n) {
			@include mq('md') {
				width: 50%;
			}
		}

		&:hover {
			.pod-news--overlay {
				transition: all 0.5s;
				opacity: 1;
				@include coverAbsolute (2);
			}
		}
	}

	&--thumb {
		display: block;
		margin: 0;
		width: 100%;
		height: rem(260px);
		position: relative;
		@include bgcover;
		a {
			display: block;
			@include coverAbsolute(1);
		}
	}

	&--caption {
		background-color: $white;
		padding: rem(17px);
		text-align: left;
		h3 {
			margin-top: 0;
			position: relative;
			a {
				@include font(20px);
				color: $gray;
			}
		}
		h4 {
			@include font(18px);
			display: inline-block;
			position: relative;
			padding-left: rem(32px);
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: rem(22px);
				height: rem(22px);
				@include iconBg('../images/icons/clock.svg', 22px);
			}
		}
	}

	// OVERLAY
	
	&--overlay {
		opacity: 0;
		padding: 0 rem(20px);
		position: absolute;
		@include coverAbsolute (-1);
		transition: all 0.3;
		.overlap-bg {
			@include coverAbsolute (0);
			opacity: 0.8;
			background-color: $purple;
		}

		.over-text {
			@include coverAbsolute (3);
			display: table;
			text-align: center;
			padding: 0 rem(20px);
			@include mq('md') {
				padding: 0 rem(25px);
			}
			&--center {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				color: $white;
				a {
					color: $white;
					&.more-link {
						font-family: $bd;
						text-transform: uppercase;
					}
				}

				.more-icon {					
					width: rem(35px);
					height: rem(35px);
					margin: rem(20px) auto 0;
					@include iconBg('../images/icons/round-add-button.svg', 35px);
					display: block;
				}
			}
		}
	}
}

// --- SIDEBAR --- //
.widget_recent_entries {
	> h4 {
		@include font(30px);
		font-family: $bd;
		text-transform: uppercase;
		margin: 0 0;
		padding: 0 0 rem(10px);
		position: relative;
		display: inline-block;
		&::after {
			content: "";
			@include background-gradient($green, $aqua, 'horizontal');					
			display: block;
			position: absolute;
			width: 100%;
			height: rem(5px);
			left: 0;
			bottom: 0;
		}
	}
}

.posts-sidebar {
	&--item {
		display: block;
		text-align: center;
		padding: rem(10px);
		position: relative;

		&:hover {
			.pod-news--overlay {
				transition: all 0.5s;
				opacity: 1;
				@include coverAbsolute (2);
			}
		}
	}

	&--thumb {
		display: block;
		margin: 0;
		width: 100%;
		height: rem(260px);
		position: relative;
		@include bgcover;
		a {
			display: block;
			@include coverAbsolute(1);
		}
	}

	&--caption {
		background-color: $white;
		padding: rem(17px);
		text-align: left;
		h3 {
			margin-top: 0;
			position: relative;
			a {
				@include font(20px);
				color: $gray;
			}
		}
		h4 {
			@include font(18px);
			display: inline-block;
			position: relative;
			padding-left: rem(32px);
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: rem(22px);
				height: rem(22px);
				@include iconBg('../images/icons/clock.svg', 22px);
			}
		}
	}

	// OVERLAY
	&--overlay {
		opacity: 0;
		padding: 0 rem(20px);
		position: absolute;
		@include coverAbsolute (-1);
		transition: all 0.3;
		.overlap-bg {
			@include coverAbsolute (0);
			opacity: 0.8;
			background-color: $purple;
		}

		.over-text {
			@include coverAbsolute (3);
			display: table;
			text-align: center;
			padding: 0 rem(20px);
			@include mq('md') {
				padding: 0 rem(25px);
			}
			&--center {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				color: $white;
				a {
					color: $white;
					&.more-link {
						font-family: $bd;
						text-transform: uppercase;
					}
				}

				.more-icon {					
					width: rem(35px);
					height: rem(35px);
					margin: rem(20px) auto 0;
					@include iconBg('../images/icons/round-add-button.svg', 35px);
					display: block;
				}
			}
		}
	}
}