section {
	&#acceso-sistema {

		.titulo {
			h2 {
				text-align: center;
				text-transform: uppercase;
			}
		}

		.ambientes {
			padding: rem(20px) 0;
			text-align: center;
			@include mq('md') {
				display: flex;
				flex-wrap: wrap;
				text-align: left;
			}

			&--co1,
			&--co2 {
				text-align: center;
				@include mq('md') {
					padding: rem(20px);
					width: 50%;
				}
				h3 {
					text-transform: uppercase;
				}

				a {
					margin: rem(14px) auto;
					@include marineBtn(14px); 
				}

				.btn {
					display: block;
				}
			}

			&--co1 {
				@include mq('md') {
					border-right: rem(3px) solid;
				}
			}
		}
	}
}