.categorias {

	@include mq('md') {
		padding: rem(30px) rem(100px);
	}
	// Header
	&__header {
		text-align: center;
		@include mq('md') {
			text-align: left;
		}
		> span {
			text-align: center;
			display: inline-block;
			color: $lp-purple;
			@include mq('md') {
				text-align: left;
			}
			img {
				display: inline-block;
			}
		}
	}

	// Wrapper tabs
	&__wrapper {

		// Navigation
		&-pills {
			display: flex;
			> li {
				float: none;
				text-align: center;
				margin: 0 rem(5px) 0 0;
				a {
					background-color: $lp-gray;
					border-radius: 0 0 0 0;
					margin: 0 0;
					padding: rem(12px);
					font-family: $bd;
					@include font(17px);

				}

				&:nth-child(1) {
					a {
						color: $lp-purple;
						&:hover,
						&:focus,
						&:active {
							background-color: $lp-purple;
							color: $white;
						}
					}


				}
				&:nth-child(2) {
					a {
						color: $lp-green;
						&:hover,
						&:focus,
						&:active {
							background-color: $lp-green;
							color: $white;
						}
					}
				}
				&:nth-child(3) {
					a {
						color: $lp-red;
						&:hover,
						&:focus,
						&:active {
							background-color: $lp-red;
							color: $white;
						}
					}
				}
				&:nth-child(4) {
					a {
						color: $lp-dkblue;
						&:hover,
						&:focus,
						&:active {
							background-color: $lp-dkblue;
							color: $white;
						}

					}
				}

				&.active {
					a {
						background-color: $lp-gray;
						color: $white;
					}
				}
			}
		}

		// Wrapper tabs
		&-tabs {

			&__item {
				//background-color: $lp-purple;
				color: $white;
				padding: rem(32px) 0;

				&.SOCIAL{
					background-color: $lp-purple;
				}
				&.LABORAL{
					background-color: $lp-green;
				}
				&.DISRUPCIÓN{
					background-color: $lp-red;
				}
				&.COMPROMISO{
					background-color: $lp-dkblue;
				}

				@include mq('md') {
					padding: rem(52px) rem(32px);
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
				}

				> div {
					margin-bottom: rem(22px);
					@include mq('md') {
						width: 50%;
					}
				}

				.categoria-infografia {
					text-align: center;
					img {
						display: inline-block;
						max-width: 90%;
					}
				}
				.categoria-info {
					padding: rem(15px) rem(22px);
					p, ul {
						color: $white;
					}


				}
			}
		}
	}
}
