@charset "UTF-8";

// ------------------------ //
// -- Commons -- //
// ------------------------ //
@import 'commons/fonts';
@import 'commons/variables';
@import 'commons/mixins';
@import 'commons/general';
@import 'commons/header';
@import 'commons/footer';

// -- Vendors -- //
@import 'vendors/slick/slick';


// ------------------------ //
// -- Views -- //
// ------------------------ //

// ------------------------ //
// -- Blocks -- //
// ------------------------ //
@import 'blocks/home/slider';

// ------------------------ //
// -- Pages -- //
// ------------------------ //
