@font-face {
    font-family: 'Rubik Medium';
    src: url('../fonts/rubik/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/rubik/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Bold';
    src: url('../fonts/rubik/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/rubik/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Regular';
    src: url('../fonts/rubik/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/rubik/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

