.footer {
	padding: rem(20px);
	margin: 0 0 0 0;
	color: $white;
	background-color: $navy;
	a {
		color: $white;
	}

	@include mq('md') {
		padding: rem(35px) 0 rem(20px);
	}

	&-row {
		clear: both;
		display: block;
		float: none;
		border-bottom: rem(1px) solid rgba(0,0,0,0.2);
		padding: rem(15px) 0;
	}

	// widgets
	.widget_text {
		&.text-2 {
			text-align: left;
			h4 {
				display: none;
			}
			h5 {
				display: inline-block;
				width: rem(332px);
				height: rem(48px);
				@include iconBg('../images/brand/logo_footer.png', 332px);
			}
			p {
				text-align: left;
			}
		}
	}
	
	.widget_nav_menu {
		
		&.nav_menu-2{
			@include mq('md') {
				padding: 0 rem(60px);
			}
			h4 {
				display: none;
			}
		}

		&.nav_menu-3{
			.menu {
				display: block;				
				@include mq('md') {
					text-align: right;
					padding-right: rem(50px);
				}
			}
		}	
	}	
}