body {
	font-family: $rg;
	font-size: 16px;
	margin-top: 0;
	color: $gray;
	strong,
	b, h1, h2, h3 {
		font-family: $bd;
	}

	// Link styles
	
	a {
		transition: all 0.3s;
		&:hover {
			transition: all 0.2s;
		}
	}
}