.navbar {
	position: relative;
	margin: 0 0 0 0;
	border: none;
	background-color: $navy;
	@include mq('sm') {
		padding: rem(20px) 0;
	}

	> .container {
		position: relative;
	}

	// Scrolled menu styles
	&.scroll_menu {
	}

	// Networks menu
	.menu-menu-redes-container {
		@include mq('sm') {
			width: auto;
			position: absolute;
			right: rem(-23px);
			top: (7px);
		}

		#menu-menu-redes {
			padding: 0;
		}
	}

	.navbar-header {
		@include mq('sm') {
			display: inline-block !important;
			vertical-align: middle;
			float: none;
		}
		.navbar-brand {
			@include iconBg('../images/brand/logo.svg', 186px);
			width: rem(186px);
			height: rem(50px);
		}
	}
	.navbar-collapse {
		@include mq('sm') {
			display: inline-block !important;
			vertical-align: middle;
			float: none;
			margin-left: rem(13px);
		}
		// Menu
		ul {
			&.navbar-nav {
				float: none;
				clear: both;
				> li {
					@include mq('sm') {
						display: inline-block;
						vertical-align: middle;
						float: none;
					}
					a {
						padding-top: 0;
						padding-bottom: 0;
						text-transform: uppercase;
						font-family: $bd;
						@include font(12px);
						color: $white;
						&:hover,
						&:focus {
							background-color: transparent;
							color: $yellow;
						}
					}
					&.active {				
						a {
							background-color: transparent;
							font-family: $bd;
							color: $yellow;
						}					
					}
				}
			}
		}
	}
}