//--  Fonts --//

$md: 'Rubik Medium';
$bd: 'Rubik Bold';
$rg: 'Rubik Regular';

// -- Colors -- //

$white: #ffffff;
$black: #000000;
$blue: #334690;
$blue-dk: #092a55;
$navy: #084F60;
$marine: #00C3C7;
$gray: #545454;
$gray-lt: #DEDEDE;
$gray-f6: #f6f6f6;
$gray-e6: #e6e6e6;
$gray-d8: #D8D8D8;
$yellow: #FDCD4F;
$purple: #7F61B0;
$salmon: #d84e65;
$naranja: #e46a25;
$azul: #1ea0f5;
$morado: #6252ab;
$fucsia: #e80f8b;

$green: #77cd80;
$aqua: #40d2d5;
