//--  Fonts --//

$md: 'Rubik Medium';
$bd: 'Rubik Bold';
$rg: 'Rubik Regular';

// -- Colors -- //

$white: #ffffff;
$black: #000000;
$blue: #334690;
$navy: #084F60;
$marine: #00C3C7;
$gray: #cccccc;
$gray-lt: #DEDEDE;
$gray-d8: #D8D8D8;
$yellow: #FDCD4F;