#HomePost {
	background-color: $gray-f6;
	padding: rem(20px);
	@include mq('md') {
		padding: rem(32px) 0 rem(52px);
	}
	header {
		h2 {
			margin-top: 0;
			padding-top: 0;
			color: $gray;
			text-align: center;
			text-transform: uppercase;
			font-family: $bd;
			@include font(26px);
			@include mq('md') {
				@include font(36px);
			}
		}
	}
	.container
	{
		width: 1000px;
		padding: 0;
	}
}

.home-news {
	// Slider arrows
	// Controls
	h2
	{
		color: #174886 !important;
		font-size: 4rem !important;
		margin: 0 0 70px;
		text-align: left !important;
	}
	.box_news_big,
	.box_news_small
	{
		width: 100%;
		height: 470px;
		border-radius: 20px;
		background: #fff;
		margin-bottom: 9px;
		overflow: hidden;
		.box_padding
		{
			padding: 10px;
		}
		.box_bg
		{
			height: 288px;
			width: 100%;
			background-size: cover;
			background-position: center;
		}
		.date_news
		{
			color: #565556;
			font-size: 11px;
		}
		.title_news
		{
			color: #174886;
			font-size: 22px;
			line-height: 100%;
			height: 110px;
		}
		.link_news
		{
			a
			{
				color: #e96773;
				font-size: 22px;
			}
		}
	}
	.box_news_small
	{
		height: 150px;
		.box_bg
		{
			height: 100%;
			width: 170px;
			float: left;
		}
		.box_padding
		{
			float: left;
			width: calc(100% - 170px);
		}
		.title_news
		{
			color: #174886;
			font-size: 19px;
			height: 90px;
		}
		
	}
	.slick-arrow {
		width: rem(44px);
		height: rem(44px);
		z-index: 2;
		&.slick-prev {
			left: rem(10px);
			@include iconBg('../images/icons/left-arrow.svg', 44px);
		}
		&.slick-next {
			right: rem(10px);
			@include iconBg('../images/icons/right-arrow.svg', 44px);
		}
	}

	&--wrapper {
		position: relative;
	}

	&--item {
		position: relative;
		display: block;
		text-align: center;
		margin: rem(10px);
		background-color: $white;
		&:hover {
			.home-news--overlay {
				transition: all 0.5s;
				opacity: 1;
				@include coverAbsolute (2);
			}
		}
	}

	&--thumb {
		display: block;
		margin: 0;
		width: 100%;
		height: rem(260px);
		position: relative;
		@include bgcover;
		a {
			display: block;
			@include coverAbsolute(1);
		}
	}

	&--caption {
		padding: rem(17px);
		text-align: left;
		h3 {
			margin-top: 0;
			position: relative;
			a {
				@include font(20px);
				color: $gray;
			}
		}
		h4 {
			@include font(18px);
			display: inline-block;
			position: relative;
			padding-left: rem(32px);
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: rem(22px);
				height: rem(22px);
				@include iconBg('../images/icons/clock.svg', 22px);
			}
		}
	}

	// OVERLAY

	&--overlay {
		opacity: 0;
		padding: 0 rem(20px);
		position: absolute;
		@include coverAbsolute (-1);
		transition: all 0.3;
		.overlap-bg {
			@include coverAbsolute (0);
			opacity: 0.8;
			background-color: $purple;
		}

		.over-text {
			@include coverAbsolute (3);
			display: table;
			text-align: center;
			padding: 0 rem(40px);
			@include mq('md') {
				padding: 0 rem(65px);
			}
			&--center {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				color: $white;
				a {
					color: $white;
					&.more-link {
						font-family: $bd;
						text-transform: uppercase;
					}
				}

				.more-icon {
					width: rem(35px);
					height: rem(35px);
					margin: rem(20px) auto 0;
					@include iconBg('../images/icons/round-add-button.svg', 35px);
					display: block;
				}
			}
		}
	}
	.boton-mas{
		a{
			position: initial;
		}
	}
}
