body {
	&.single-items-galeria {
		.container-fluid {
			header {
				h2 {
					margin-top: 0;
					text-align: center;
					text-transform: uppercase;
					text-align: center;
					@include font(26px);
					padding: rem(20px) 0 0;
					@include mq('md') {
						padding: rem(40px) 0;
						@include font(36px);
					}
				}
			}

			.gray-bg {
				padding-top: rem(20px);
				padding-bottom: rem(20px);
				background-color: $gray-e6;
				@include mq('md') {
					padding-top: rem(40px);
					padding-bottom: rem(40px);
				}
			}
		}
	}
}